<div class="row">
    <h2 class="card">{{article.title}}</h2>
    <h4 class="card-panel artBody">{{body}}</h4>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <form action="/comment/{{article.id}}" method="POST" class="card-panel col-md-8">
      <h5>Enter your Comments</h5>
        <div class="row">
            <div class="input">
                <i class="material-icons prefix">commentor_name</i>
                <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
            </div>
            <div class="input">
                <i class="material-icons prefix">comment</i>
                <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
            </div>
             
        </div>
        <div class="row">
            <div class="input">
                <input class="btn add-comment-btn topnav" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{#if article.comment}}
        {{#each article.comment}}
            <div class="card">
                <p id="nameComment">{{name}}</p>
                <p {{body}} ></p>
            </div>
        {{/each}}
        {{/else}}
        <p>No Comments</p>
        {{/if}}
    </div>
</div>